body {
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-family);
    flex-direction: column;
    height: 900vh;
    margin: 0;
    padding: 0;
}

.title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    text-align: center;
} 

.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap: 20px; 
}

.section-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px; 
}

.section {
    z-index: 1;
    padding: 10px;
    margin: 10px;
    border: 4px solid #2b2b2b;
    border-radius: 10px;
    position: relative;
    color: white;
    height: 500px;
    width: 500px; 
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    user-select: none;
}

.section-card:hover .section {
    transform: rotateY(180deg);
}

.section-card:hover .section::before {
    transform: rotateY(-180deg);
}

.section::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    opacity: 0.5;
    transform: rotateY(180deg);
}


.section-a::before {
    background: url(logo\ Tribe\ Gaming.png);
}

.section-card:hover .section-a::before {
    background: url(émote\ Tribe\ non\ animé.png);    
}

.section-b::before {
    background: url(Tribe\ joueur\ 4.png);
}

.section-card:hover .section-b::before {
    background: url(Tribe\ joueur\ 4-1.png);    
}

.section-c::before {
    background: url(Tribe\ joueur\ 3.png);
}

.section-card:hover .section-c::before {
    background: url(Tribe\ joueur\ 3-1.png);    
}

.section-d::before {
    background: url(Tribe\ joueur\ 1.png);
}

.section-card:hover .section-d::before {
    background: url(Tribe\ joueur\ 1-1.png);    
}

.section-e::before {
    background: url(Tribe\ joueur\ 2.png);
}

.section-card:hover .section-e::before {
    background: url(Tribe\ joueur\ 2-1.png);    
}

.section-f::before {
    background: url(Juan\ carlos\ logo.png);
}
.section-g::before {
    background: url(Juan\ carlos\ 1.png);
}

.section-card:hover .section-g::before {
    background: url(Juan\ carlos\ 1-1.png);    
}

.section-h::before {
    background: url(Pain\ 2.png);
}

.section-card:hover .section-h::before {
    background: url(Pain\ 2-1.png);    
}

.section-i::before {
    background: url(Secondbest\ 3.png);
}

.section-card:hover .section-i::before {
    background: url(Secondbest\ 3-1.png);    
}

.section-j::before {
    background: url(Luminosity\ Gaming.png);
}

.section-k::before {
    background: url(Charlz\ 1.png);
}

.section-card:hover .section-k::before {
    background: url(Charlz\ 1-1.png);    
}

.section-l::before {
    background: url(Chino\ 1.png);
}

.section-card:hover .section-l::before {
    background: url(Chino\ 1-1.png);    
}

.section-m::before {
    background: url(Patchy\ 1.png);
}

.section-card:hover .section-m::before {
    background: url(Patchy\ 1-1.png);    
}



.section-n::before {
    background: url(Spacestation\ Gaming.png);
}

.section-o::before {
    background: url(RBM\ 1.png);
}

.section-card:hover .section-o::before {
    background: url(Rbm\ 1-1.png);    
}

.section-p::before {
    background: url(Fade\ 1.png);
}

.section-card:hover .section-p::before {
    background: url(Fade\ 1-1.png);    
}

.section-q::before {
    background: url(Tuni\ 1.png);
}

.section-card:hover .section-q::before {
    background: url(Tuni\ 1-1.png);    
}

