*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

header{
    background-image: url(fond\ partie\ 3.png);
    height: 434vh;
    background-size: contain;
    background-position: center;
    opacity: 0.9;
}

.liste-boutons li {
    margin-bottom: 300px; 
    text-align: center;
    font-size: 200px;
    height: 100%;
    padding: 220px 20px;
}

.bouton{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouton a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    border: 2px solid #000;
    padding: 20px 40px;
}

.btn{
    transition: 00.6s ease;
}

.btn:hover{
    background-color: color #000;
    color: #000;
}

img {
    width: 210px; 
    height: auto; 
}

img.left {
    float: left; 
    margin-right: 10px; 
}

img.right {
    float: right; 
    margin-left: 10px; 
}
