.img1 {
    width: 100%;
    height: 700px;
}

.img2 {
    width: 100%;
    height: 500px
}

.horizon-vertical {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 300px; 
}

.espace img {
    margin-bottom: 20px; 
}